body {
    margin: 0;
    color: #dddddd;
    background-color: #441111;
    background-image: linear-gradient(to bottom right, #441111, #111111), linear-gradient(to right, #441111, rgb(158, 76, 0));
    width: 100%;
    min-height: 100vh;
}

@font-face {
	font-family: VALORANT;
	src: url(../fonts/VALORANT-modif.ttf)
}

.titulo {
    text-align: center;
    font-size: 5em;
    font-family: VALORANT;
}

.bckgnd::after {
    content: "";
    background: url(../img/capa.jpg);
    opacity: 0.1;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
    background-repeat: no-repeat;
    background-size: cover;
}

.capa {
    max-width: 100%;
    display: block;
    margin: auto;
}

.links-container{
    display:flex;
}

.link-item {
    background-image: radial-gradient(#441111 50%, #111111);
    border-radius: 10px;
    display: inline-block;
    width: 45%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color:#dddddd;
    font-size: 1.5em;
    white-space: nowrap;
}
#link-middle {
    margin-right: 5%;
    margin-left: 5%;
}

.link-item:hover {
    background-image: radial-gradient(#441111 50%, rgb(31, 20, 0));
    transition: 1s;
}
