#equacao {
    width:100%;
    border-radius: 10px;
    border:0;
    height: 40px;
    outline: none;
    font-size: large;
    background-color: #dddddd;
    padding-left: 15px;
    color:black;
    margin-bottom: 25px;
}

#submit-eq {
    width: 100px;
    border-radius: 10px;
    outline:none;
    font-size: large;
    background-color: #441111;
    border:0;
    height: 40px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#submit-eq:active {
    transform: translateY(2px);
}

#resul-eq {
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
    background-color: #dddddd;
    color:black;
    font-size: large;
    min-height: 40vh;
    padding: 15px;
    overflow: auto;
}

.dark-mode #equacao, .dark-mode #resul-eq {
    background-color: #2e2e2e;
    color: #dddddd;
}

#dica-eq{
    cursor: pointer;
}
