nav{
    background-color: #111111;
    overflow:hidden;
    /* position:fixed; 
    width:100%;
    top:0; */
    height: 50px;
}
nav > *{
    background-color: #222222;
    color:#dddddd;
    transition:0.3s;
    outline:none;
    border:none;
}
nav > *:hover{
    cursor: pointer;
    transform: scale(1.1);
}
nav > *:active{
    filter:invert(100%);
}
nav img:active{
    filter: invert(100%);
}
nav > button{
    float:right;
    height: 100%;
    border-radius: 0;
}
nav > a{
    float: left;
    line-height: 50px;
    padding:0 20px;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
main {
    transition: margin-right .5s;
    transition: padding-right .5s;
}

nav{
    transition: margin-right .5s;
}
