html{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: #dddddd;
    }
}*/

body{
    width:100%;
    margin:auto;
}

header{
    width:100%;
}

nav{
    background-color: #111111;
    overflow:hidden;
    /* position:fixed; */
    height: 50px;
}
nav > button{
    height: 100%;
    border-radius: 0;
}
nav > a{
    float: left;
    padding: 20px;
    text-align: center;
    background-color: #222222;
    color:#dddddd
}

button{
    background-color: #222222;
    color: #dddddd;
    border-radius: 10px;
    border:0;
    outline:none;
    float: right;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: #dddddd;
    color:black;
}

main{
    margin: 0 10%;
}

p{
    text-align: justify;
}

a{
    text-decoration: none;
}

.dark-mode{
    background-color: #1e1e1e;
    color: #dddddd;
}
