::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background:#111
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #411; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

html{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

body{
    width:100%;
    margin:0;
}

.content {
    min-height: 85vh;
}

header{
    width:100%;
}

main{
    margin: 0 10%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    text-align: justify;
    line-height: 1.5em;
}

a{
    text-decoration: none;
}

.href {
    color: #411;
}
.href:hover {
    text-decoration: underline;
}
.dark-mode .href {
    color: #f77;
}

code{
    background-color:#dddddd;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
    padding:3px 5px;
}

.equacao{
    /* text-align: center; */
    margin-bottom: 20px;
}
.equacao:hover{
    cursor: pointer;
}
.equacao code{
    display: inline-block;
}

.answer{
    display: none;
}
.eq{
    white-space: nowrap;
}
.explanation{
    color: green;
    text-align: left;
    padding-left: 10px;
    word-wrap: break-word;
}

.dark-mode{
    background-color: #1e1e1e;
    color: #dddddd;
}

.dark-mode code{
    background-color: #2e2e2e;
}

footer {
    margin-top: 3vh;
    padding: 1vh 10%;
    background-color: #111111;
    min-height: 10vh;
    color: #555555;
}
footer img {
    float:left;
    height: 10vh;
    margin-right: 10px;
    opacity: 0.1;
}
footer h3 {
    margin:10px 0 0 0;
}
footer p {
    margin: 0;
}
footer a {
    color:#555555 !important;
}
footer a:hover {
    text-decoration: underline;
}

#bhaskara {
    display:block;
    width: 300px;
    margin-left:auto;
    margin-right: auto;
}
.dark-mode #bhaskara {
    filter: invert(100%);
}

img {
    display: block;
    margin: auto;
}
