html{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

body{
    width:100%;
    margin:auto;
}

header{
    width:100%;
}

main{
    margin: 0 10%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    text-align: justify;
    line-height: 1.5em;
}

a{
    text-decoration: none;
}

code{
    background-color:#dddddd;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
    padding:3px 5px;
}

.equacao{
    text-align: center;
}
.equacao:hover{
    cursor: pointer;
}
.equacao code{
    display: inline-block;
}

.answer{
    display: none;
}
.eq{
    white-space: nowrap;
}
.explanation{
    color: green;
    text-align: left;
    padding-left: 10px;
    word-wrap: break-word;
}

.dark-mode{
    background-color: #1e1e1e;
    color: #dddddd;
}

.dark-mode code{
    background-color: #2e2e2e;
}
